In [2]:
import numpy as np
import pandas as pd

curb_modeling_dataset = pd.read_csv('resources/Churn_Modelling.csv')

In [15]:
exclusive = (15000, 20000)
means = curb_modeling_dataset.groupby('Surname')['Balance'].mean()
filtered_means = means[means.between(exclusive[0], exclusive[1])].sort_index()
filtered_means

Surname
De Salis    19307.043333
Giles       19771.193333
Hayes       17590.630000
Leonard     18699.964000
Todd        16835.461667
Yegorov     16893.590000
Name: Balance, dtype: float64

In [30]:
iris_dataset = pd.read_csv('resources/Iris.csv')
iris_dataset.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [32]:
iris_dataset.loc[:, 'Id']

0        1
1        2
2        3
3        4
4        5
      ...
145    146
146    147
147    148
148    149
149    150
Name: Id, Length: 150, dtype: int64

In [33]:
iris_dataset.loc[:, 'SepalWidthCm']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: SepalWidthCm, Length: 150, dtype: float64

In [34]:
iris_dataset.loc[:, ['Id', 'SepalWidthCm']]

      Id  SepalWidthCm
0      1           3.5
1      2           3.0
2      3           3.2
3      4           3.1
4      5           3.6
..   ...           ...
145  146           3.0
146  147           2.5
147  148           3.0
148  149           3.4
149  150           3.0

[150 rows x 2 columns]

In [35]:
iris_dataset.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [36]:
iris_dataset.sample(23)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
20,21,5.4,3.4,1.7,0.2,Iris-setosa
57,58,4.9,2.4,3.3,1.0,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
124,125,6.7,3.3,5.7,2.1,Iris-virginica
78,79,6.0,2.9,4.5,1.5,Iris-versicolor
103,104,6.3,2.9,5.6,1.8,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
15,16,5.7,4.4,1.5,0.4,Iris-setosa
45,46,4.8,3.0,1.4,0.3,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
104,105,6.5,3.0,5.8,2.2,Iris-virginica
6,7,4.6,3.4,1.4,0.3,Iris-setosa
142,143,5.8,2.7,5.1,1.9,Iris-virginica
59,60,5.2,2.7,3.9,1.4,Iris-versicolor
0,1,5.1,3.5,1.4,0.2,Iris-setosa
119,120,6.0,2.2,5.0,1.5,Iris-virginica
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
23,24,5.1,3.3,1.7,0.5,Iris-setosa
30,31,4.8,3.1,1.6,0.2,Iris-setosa
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
86,87,6.7,3.1,4.7,1.5,Iris-versicolor

In [49]:
iris_dataset.drop(columns=['Id']).describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [61]:
groups = iris_dataset.groupby('Species').filter(lambda x: x.name == 'Iris-setosa').drop(columns=['Id', 'Species']).max()
groups

SepalLengthCm    5.8
SepalWidthCm     4.4
PetalLengthCm    1.9
PetalWidthCm     0.6
dtype: float64